/* Importation des polices */
@font-face {
    font-family: 'Agbalumo';
    src: url('Bailenson.otf') format('opentype'),
         url('Bailenson.ttf') format('truetype');
}

/* Styles pour les liens de la barre de navigation */
.navbar a {
    text-decoration: none;
    color: #fff;
    display: block;
}

/* Styles pour les liens de la barre de navigation au survol */
.navbar a:hover {
    background-color: #555;
}

.navbar{
    background-color: #3498db;
}
/* Styles pour le bouton de bascule de la barre de navigation 
#toggleBtn {
    margin: 20px;
    padding: 10px;
    background-color: #444;
    color: #fff;
    border: none;
    cursor: pointer;
}
*/
/* Styles généraux */
body {
    background-image: url('fond.jpeg');
    margin: 0; /* Supprime la marge par défaut du corps */
    padding: 0; /* Supprime le rembourrage par défaut du corps */
}
.text{
    color: white;
}
/* Conteneur principal */
.conteneur {
    background-size: cover;
    background-position: center;
    height: 200px;
}

.histoire{
    color: darkgoldenrod;
    size: 25px;
}
/* Ligne séparatrice */
.ligne-separatrice {
    border: none;
    border-top: 5px solid #931b1b;
    margin: 20px 0;
}

/* Titre principal */
h1 {
    color: #dee7ec;
    font-family: 'Arial', sans-serif;
}

/* Texte de préface */
.preface {
    font-size: 35px;
    font-family: 'Agbalumo';
    color: whitesmoke;
}

.h-contenent{
    display: flex;
    color: rgb(59, 106, 106);
    font-size:large;
    font-family: 'Times New Roman', Times, serif;
}